<div class="container">
        <div class="card p-5">
            <div class="card-header">
                <h2>Lista de Pedidos</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Pedido hace: </th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                            {{#each pedidos}}
                                <tr>
                                    <td> {{cliente}} </td>
                                    <td> {{direccion}} </td>
                                    <td> {{timeago date}} </td>
                                    <td> 
                                        <form action="/delivery/anuncio" method="POST">
                                            <input type="hidden" name="idSale" value="{{idSale}}">
                                            <input type="hidden" name="cliente" value="{{cliente}}">
                                            <input type="hidden" name="numero" value="{{numero}}">
                                            <input type="hidden" name="foto" value="{{foto}}">
                                            <input type="hidden" name="costo" value="{{cost}}">
                                            <button type="submit" class="btn btn-info">Atender</button>
                                        </form>
                                    </td>
                                </tr>
                            {{/each}}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>