<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1>Nuevo producto</h1>
			</div>
			<div class="modal-body">
				<form method="post" action="/empresa/crearMenu" enctype="multipart/form-data">
                    <input type="hidden" name="idBusiness" value="{{empresa.idUser}}">
                    <div class="mb-3">
                        <input required type="text" class="form-control" id="name" name="name" placeholder="Nombre producto">
                    </div>
                    <div class="mb-3">
                        <input required type="number" class="form-control" id="quantity" name="quantity" placeholder="Cantidad">
                    </div>
                    <div class="mb-3">
                        <input required type="text" class="form-control" id="description" name="description" placeholder="Descripcion del producto">
                    </div>
                    <div class="mb-3">
                        <input required type="text" class="form-control" id="price" name="price" placeholder="Precio Unitario">
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <input type="file" id="photo" name="photo">
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
			</div>
		</div>
	</div>
</div>
<div class="col md-10 mx-2  ">
    <form>
        <div class="row ">
            <div class="col md-5">        
                <h2 class="fs-6 text-uppercase text-center fw-bold text-primary">{{empresa.name}}</h2>
            </div>
            <div class="col md-5">
               <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#miModal">
                    Crear Menu
                </button>
            </div>
        </div>
    </form>
</div>
<div class="container">
    {{#each productos}}
        <div class="card">
        <div class="card-header">
            {{this.name}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Precio: {{this.price}}</h5>
            <p class="card-text">Cantidad: {{this.quantity}}</p>
        </div>
        </div>
    {{/each}}    
</div>