<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1>Nuevo producto</h1>
			</div>
			<div class="modal-body">
				<form method="post" action="/empresa/crearMenu" >
                    <input type="hidden" id="idEmpresa" name="idBusiness" value="{{empresa.idUser}}">
                    <div class="mb-3">
                        <input required type="text" class="form-control" id="name" name="name" placeholder="Nombre producto">
                    </div>
                    <div class="mb-3">
                        <input required type="number" class="form-control" id="quantity" name="quantity" placeholder="Cantidad">
                    </div>
                    <div class="mb-3">
                        <input required type="text" class="form-control" id="description" name="description" placeholder="Descripcion del producto">
                    </div>
                    <div class="mb-3">
                        <input required type="text" class="form-control" id="price" name="price" placeholder="Precio Unitario">
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <input type="file" id="photo" name="photo">
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
			</div>
		</div>
	</div>
</div>
<div class="col-10 md-10 mx-2 my-2 ">
    <form>
        <div class="row ">
            <div class="col-3 md-3"> 
                <img src="/fotos/empresa/{{empresa.photo}}" alt="imagen" class="rounded " width="75px" height="75px">
            </div>
            <div class="col-3 md-3">
                <h2 class="fs-6 text-uppercase text-center fw-bold text-primary titulo">{{empresa.name}}</h2>
            </div>
            <div class="col-3 md-3">
               <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#miModal">
                    Crear Menu
                </button>
            </div>
        </div>
    </form>
</div>
<div class="container my-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">  
    {{#each productos}}
        <div class="card-group">
            <div class="card mb-3 mx-3 py-2 px-2 tarjeta" style="max-width: 540px;">
                <div class="row mg-0">
                    <div class="col md-12">
                        <h5 class="card-title titulo-comida fs-1">{{this.name}}</h5>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col-md-6">
                        <img src="/fotos/comida/{{this.photo}}" alt="imagen" class="rounded " width="150px" height="150px">
                    </div>
                    <div class="row ">
                        <div class="col mx-2">
                            <p class="card-title detalles">Precio: </p>
                            <p class="card-text datos">{{this.price}} Bs.</p>
                        </div>
                        <div class="col mx-2">
                            <p class="card-title detalles">Cantidad: </p>
                            <p class="card-text datos">{{this.quantity}} Unidades</p>
                        </div>
                    </div>
                </div>
                <div class="row my-2 cols-sm-1">
                    <div class="col-5 mx-2 text-center">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#edit{{this.idProduct}}">
                            Editar
                        </button>
                    </div>
                    <div class="col-5 mx-2 text-center">
                        <form action="/empresa/quitarProducto/{{this.idProduct}}" method="post">
                            <button class="btn btn-danger" href="" role="submit">Borrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {{/each}} 
    </div>   
</div>
{{#each productos}}
<div class="modal fade" id="edit{{this.idProduct}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1>Editar Producto</h1>
			</div>
			<div class="modal-body">
				<form method="post" action="/empresa/editarMenu/{{this.idProduct}}" >
                    <input type="hidden" name="idBusiness" value="{{this.idUser}}">
                    <input type="hidden" name="estado" value="{{this.estado}}">
                    <input type="hidden" name="foto" value="{{this.photo}}">
                    <div class="mb-3">
                        <input required type="text" class="form-control" id="name" name="name" placeholder="Nombre producto" value="{{this.name}}">
                    </div>
                    <div class="mb-3">
                        <input required type="number" class="form-control" id="quantity" name="quantity" placeholder="Cantidad" value="{{this.quantity}}">
                    </div>
                    <div class="mb-3">
                        <input required type="text" class="form-control" id="description" name="description" placeholder="Descripcion del producto" value="{{this.description}}">
                    </div>
                    <div class="mb-3">
                        <input required type="text" class="form-control" id="price" name="price" placeholder="Precio Unitario" value="{{this.price}}">
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <input type="file" id="photo" name="photo" value="{{this.photo}}">
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </form>
			</div>
		</div>
	</div>
</div>
{{/each}}
